@charset "ISO-8859-1";

.main{
	 background-color:#408080;
    width: 400px;
    height: 400px;
    margin-left: 100%;
     margin-top: 50%;
	border-radius:20px;
	
}
#in{
	height: 35px;
    border-bottom: 1px solid;
   border-color:#004040 ;
   border-radius: 10px;
   font-size: large;
}
form{
	 margin-left: 25%;
	    padding: 10px;
	
}
.btn{
	
    width: 60px;
    height: 40px;
    background-color:#400040;

}