@charset "ISO-8859-1";
 table {
 border-collapse: collapse;
  width: 100%;
  background-color:#badcbf;
  border:solid black;
 
 }
  
th, td {
  padding: 8px;
  text-align: left;
  border:gb(128, 128, 255);
  border:solid black;
}

tr:hover{
	background-color:pink;
	color:black;
	}